extends layout

block content
	h1 Check the guestlist of your event here:
	each guest in guestlist
		p
			input(class='checkbox', type='checkbox', value='1')
			label= guest.name
	p#fbeventid #{fbeventid}



