extends layout

block content
	h1 Check the attendancy list of your fb-event here:
	each person in event.attending
		div
			input(class='checkbox', type='checkbox')
			label(class='speciallabel')= person.name
			div.guestinfo(style= "display: none")
				form
					input(type='text', placeholder='Guest count', class='guestcount', required)
					input(type='text', placeholder='Guest Class', class='guestclass')
					input(type='text', placeholder='Phone number', class='phonenumber')
					input(type='text', placeholder='Email', class='email')
					button(class='updateguest', type='submit') Update Guest

	p#fbeventid #{fbeventid}




