extends layout

block content
	h1 Check the attendancy list of your fb-event here:
	each person in guest
		div
			input(class='checkbox', type='checkbox', value='1')
			label= person.name
			div.guestinfo(style= "display: none")
				h1 hello 

	p#fbeventid #{fbeventid}




