doctype html
html
html(lang='en')
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='description', content='You received login credentials from you facebook event administrator')
	meta(name='author', content='Paul, Gijs en Sven')
	title=title
	//- Bootstrap
	link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
	//- fontAwesome part of bootstrap icons and fonts
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
	//- sidebar CSS on dashboard
	link(rel='stylesheet', href='/css/landing.css')
	//- jQuery
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
	nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
		.container
			.navbar-header.page-scroll
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand.page-scroll(href='#page-top') GUESTY
			.collapse.navbar-collapse.navbar-ex1-collapse
				ul.nav.navbar-nav.float-right
					li.hidden
						a.page-scroll(href='#page-top')
	
	#mycarousel.carousel.slide(data-ride='carousel')
		.carousel-inner
			.item.active
				img(class='img-responsive' src='images/event.jpg', alt='')
				.carousel-caption
					h1 GUESTY
					h3 Your personal Facebook based Guestlist Management Application
					#message
					if message
						h1.text-center.error-message #{message}
	.facebook
		.container
			.row
				.col-sm-12.text-center
					a.btn.btn-block.btn-social.btn-facebook(href='/login/facebook')
						span.fa.fa-facebook
						u
							|  Login
