extends layout

block content
	div.container
		div.row
			div.col-sm-12.col-md-12
				h3.text-center Guesty
				h5.text-center If you don't know who is actually on your guestlist
			div.col-sm-6.col-md-6.col-md-offset-3
					div.account-wall
						h1.text-center.login-title Organizer Login
						p.text-center Your Personal Facebook based Guestlist Management Application
							div.login-welcome
							img(class='profile-img', src='images/facebook_login.png')
							a.btn.btn-block.btn-social.btn-facebook(href='/login/facebook')
								span.fa.fa-facebook
								|  Login with Facebook
					#message
					if message
						h1.text-center.error-message #{message}