extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title
					div.account-wall
						img(class='profile-img', src='images/facebook_login.png')
						h3 Welcome to Guesty
						h5 Your Personal Facebook based Guestlist Management Application
						a(href='/login/facebook', class='text-center new-account') Login through facebook
						a.btn.btn-block.btn-social.btn-facebook
							span.fa.fa-facebook
							|  Not sign in with Facebook
					div.account-wall
						img(class='profile-img', src='https://cdn4.iconfinder.com/data/icons/security-overcolor/512/access_key-512.png')
						form(class='form-signin', action='/login', method='POST')
							input(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
							input(type='password', name='password' class='form-control', placeholder='Password', required)
							button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
							span.clearfix
					a(href='/signup', class='text-center new-account') Create an account
					#message
					if message
						h1.text-center.error-message #{message}