doctype html
html
    head
        title Guesty APP
    body
        form(action='/register', method='POST')
            input(type='text', placeholder='firstname', name='firstname')
            input(type='text', placeholder='lastname', name='lastname')
            input(type='text', placeholder='email', name='email')
            input(type='text', placeholder='organisation', name='organisation')
            input(type='text', placeholder='username', name='username')
            input(type='text', placeholder='password', name='password')
            input(type='text', placeholder='telephone', name='telephone')
            input(type='text', placeholder='location', name='location')
            button(type='submit') REGISTER