
body {
    width: 100%;
    height: 100%;
    background-color: #f7f7f7 ;
}

/*NAV BAR */   
nav.navbar.navbar-default.navbar-fixed-top{
    background-color: #3b5998;
}
nav.navbar.navbar-default.navbar-fixed-top a{
    color:white;
}

nav.navbar.navbar-default.navbar-fixed-top a:hover {
    text-decoration: none;
    color: #3b5998;
    background: #fff;
}
.float-right {
    float: right;
}

a.btn.btn-block.btn-social.btn-facebook{
    color:black;
    font-size: 3em;
}

u:hover{
    color: #D3D3D3;
}

.carousel-caption{
    margin: 0 auto;
    padding-top: 50px;
}

div.account-wall.textcenter{
    padding: 0 40%;

}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
}

